* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-width: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
    min-width: 100%;
    background-image: url('https://img.wallpapersafari.com/desktop/1600/900/33/13/0Cv4Fx.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    min-width: 100%;  
    margin: 0;
}

nav{
    background: purple;
    min-width: 100%;
    margin: 0;
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    cursor: url('http://www.rw-designer.com/cursor-view/104968.png'), auto;	/*Unicorn Cat*/
}
nav a{
    color:turquoise;
    font-weight: bold;
}
nav a:hover{
    cursor: url('http://www.rw-designer.com/cursor-view/104992.png'), auto; /*Neopets Unicorn*/
}

.links{
    margin-left: auto;
    padding-right: 20px;
    flex-direction: row; 
}
.center-container{
    margin: 0 auto;
}

.top-container{
    padding-top: 100px;
    min-width: 100%;
    cursor: url('http://www.rw-designer.com/cursor-view/104968.png'), auto;	/*Unicorn Cat*/
}

.flav-img-grid{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.flav-img-grid img{
    height: 150px;
}

.flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.invisible{
    visibility: hidden;
}

.hack{
    background-color: teal;
    border: 1px solid green;
    padding-top: 1px;
    min-width: 100%;
}

.title{
    text-align: center;
    font-size: 3.25em;
    animation: blinkingText 2.4s infinite;
    padding-bottom: 30px;
}

@keyframes blinkingText{
    0%  {   color: purple;    }
    49% {   color: purple; opacity: 50%;}
    60% {   color: transparent;  }
    99% {   color: purple; opacity: 50%;}
    100%{   color: purple;    }
}

.bottom-container{
    background-image: url('https://cur.glitter-graphics.net/pub/2856/2856418tig64ck9y3.gif');
    background-repeat: repeat;
    cursor: url('http://www.rw-designer.com/cursor-view/104991.png'), auto;	/*MLP Unicorn*/
    min-width: 100%;
    font-family: 'Dosis', sans-serif;
}
.text-container{
    text-align: center;
    min-width: 100%;
}

td:first-of-type{
    text-align: right;
    font-weight: bold;
}
td:last-of-type{
    text-align: left;
}
td{
    padding: 5px;
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .links{
        display: flex;
        flex-direction: row;
    }
    .links a{
        padding-right: 20px;
    }

    .top-container{
        background-image: url('https://img.wallpapersafari.com/desktop/1600/900/33/13/0Cv4Fx.jpg');
        background-size: cover;
    }
    
    .invisible{
        visibility: visible;
    }

    .text-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
   
}