* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body{
    min-width: 100%;
    width: 100%;
}

header{
    min-width: 100%;  
    width: 100%;
}

nav{
    min-width: 100%;
    width: 100%;

    background: purple;
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    cursor: url('images/unicorn/caticorn.png'), auto;	/*Unicorn Cat*/
}
nav a{
    color:turquoise;
    font-weight: bold;
}
nav a:hover{
    cursor: url('images/unicorn/neocorn.png'), auto; /*Neopets Unicorn*/
}

.links{
    margin-left: auto;
    padding-right: 20px;
    flex-direction: row; 
}


.center-container{
    min-width: 100%;
    width: 100%; 
}


.top-container{
    padding-top: 100px;
    min-width: 100%;
    width: 100%;
    cursor: url('images/unicorn/caticorn.png'), auto;	/*Unicorn Cat*/
    background-image: url('images/unicorn/nebula.jpg');
    background-size: cover;
    background-repeat: repeat;
    border: 1px solid transparent;
   
}
.fix-it{
    width: 100%;
}

.flav-img-grid{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    min-width: 100%;
    width: 100%;
}
.flav-img-grid img{
    height: 150px;
    width: intrinsic;
}

.flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.title{
    text-align: center;
    font-size: 3.25em;
    animation: blinkingText 2.4s infinite;
    padding-bottom: 30px;
    font-family: 'Bonbon', cursive;
}

@keyframes blinkingText{
    0%  {   color: purple;    }
    49% {   color: purple; opacity: 50%;}
    60% {   color: transparent;  }
    99% {   color: purple; opacity: 50%;}
    100%{   color: purple;    }
}

.bottom-container{
    background-image: url('images/unicorn/sparkle.gif');
    background-repeat: repeat;
    cursor: url('images/unicorn/MLP.png'), auto;	/*MLP Unicorn*/
    min-width: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    
}
.text-container{
    text-align: center;
    min-width: 100%;
    width: 100%;
    
}

td:first-of-type{
    text-align: right;
    font-weight: bold;
}
td:last-of-type{
    text-align: left;
}
td{
    padding: 5px;
}

@media only screen and (max-width: 960px) {
    .invisible{
        visibility: hidden;
        position: absolute ;
        top: 0;
        left: 0;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .links{
        display: flex;
        flex-direction: row;
    }
    .links a{
        padding-right: 20px;
    }

    .top-container{
        background-image: url('images/unicorn/nebula.jpg');
        background-size: cover;
    }
    
    .invisible{
        visibility: visible;
    }

    .text-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
   
}